.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.search {
margin-top: 50px;
font-size: 20px;
padding: 10px;
display: flex;
text-align: center;

}

.data{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.data_item{
  border: 3px solid black;
  border-radius: 10px;
  padding: 18px;
  margin: 20px;
  width: 250px;
  height: 150px;
}